.body{
    background-color: #000000;
}

/*
http://csstxt.com/
*/
.url{
    white-space:nowrap;
    font-weight:bold;text-transform:uppercase;
    color:#FAFAFA;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:15px;
    text-align:left;
    font-family:courier new, courier, monospace;
    line-height:1;
    margin: 0 auto;
    padding-bottom: 10pt;
    padding-top: 10pt;
}

/*
https://freefrontend.com/css-input-text/
*/
.inp_txt{
    display: block;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    color: inherit;
    width: 90%;
    font-family: inherit;
    font-size: var(--inputFontSize);
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow var(--transitionDuration);
}

.site{
    margin-bottom: 10pt;
    margin-top: 10pt;
    width: 90%;
}